body {
  background: #b2e4d5;
  font-family: "Mansalva", cursive;
}

ul {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}

li {
  list-style: none;
  font-family: "Mansalva", cursive;
  width: 30%;
  height: auto;
  border: 1px solid black;
}
